.cursor {
  animation: blinkingText 1s infinite;
  color: rgba(248, 28, 229, 0.8);
}

@keyframes blinkingText {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
